<!-- Cookie Consent Banner -->
<div id="cookieConsent" class="cookie-consent-banner bg-warning text-dark text-center py-3 fixed-bottom">
    <p class="mb-lg-0 mb-3">{{cookieConsentMessage}}</p>
    <button id="acceptCookies" class="btn btn-success btn-sm">{{acceptButtonText}}</button>
</div>