<!-- Header -->
<header class="text-white mb-2 pb-2">
    <div class="container d-flex justify-content-between align-items-start">
        <div>
            <h1 class="h3 mb-0"><a href="{{homeUrl}}" class="text-decoration-none text-white">{{title}}</a></h1>
            <small class="text-secondary">{{subtitle}}</small>
        </div>
        <a href="{{githubUrl}}" target="_blank" class="text-white">
            <i class="bi bi-github" style="font-size: 1.5rem;"></i>
        </a>
    </div>
</header>